@model HomeViewModel
@using JuanProject.Models
@{
    ViewData["Title"] = "Index";
}



<button type="button" class="btn btn-primary mt-2 mb-2 ml-3" style="width:80px">CREATE</button>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Sub Title</th>
            <th scope="col">Title</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Slider sld in Model.Sliders)
        {
            <tr>
                <th scope="row">@sld.Id</th>
                <td>@sld.SubTitle</td>
                <td>@sld.Title</td>
                <td><img src="~/assets/img/slider/@sld.Image" width="150" height="150"></td>
                <td>
                    <button type="button" class="btn btn-warning">EDIT</button>
                    <button type="button" class="btn btn-danger">DELETE</button>
                </td>

            </tr>
        }

    </tbody>
</table>